div#header {
	width: 1000px;
}


.pron {
	display:inline;
	float: left;
	font-size: 100px;
}

.pron .boldface {
    font-weight: 700;
}

.pron .ital-inline {
    display: inline;
    font-family: Georgia,Verdana,Arial,Helvetica,sans-serif;
		left: -300px;
    font-style: italic;
}

.header_ital {
	position: relative;
	padding-top: 20px;
	padding-left: 720px;
	font-family: 	Verdana,Arial,Helvetica,sans-serif;
	font-style: italic;
}

.definition {
	background-color: red;
	width: 150px;
	display: block;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}
/*
ol.definition li {

}
*/
div.title {
	font-size: 32px;
}

a.edit_link {
	color: black;
	text-decoration: none;
}

a.edit_link:hover {
	font-size: 115%;
}

.artwork {
	display: inline-block;
	position: relative;
	float: left;
}

dl.item_display
{
		float: left;
		display: inline-block;
		width: 500px;
		margin-top: 32px;
		padding-right: 40px;
}

dl.item_display dt
{
		float: left;
		font-family: georgia, times, serif;
		font-weight: bold;
		top: 18px;	
}

dl.item_display dd
{
	margin-left: 200px;
	width: 300px;
	border-left: 1px solid black;
	padding-left: 10px;
	padding-bottom: 5px;
}

hr {
	clear: both;

}

ul.nav li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

ul.nav li a{
	
	color: black;
	text-decoration: none;
	font-family: Georgia,Verdana,Arial,Helvetica,sans-serif;
	font-style: italic;
}

ul.nav li a:hover {
	text-decoration: underline;
}