<ul>
	<li><%= link_to "items", items_path %></li>
	<li><%= link_to "creators", item_types_path %></li>
	<li><%= link_to "creator types", creator_types_path %></li>
	<li><%= link_to "item types", item_types_path %></li>
</ul>